*_results
*.query
/bin/GENOMES/*
/bin/GENOMES.IDs
/bin/ProtDatabase.db.*
/genomes_data/*
/antismash_output/*
*.fna
*.faa
*.fasta
*.gb
*.gbk
*.gff
antismash-7.1.0*
antismash-output/*
*.out
secrets.txt
/Downloaded_genomes_via_NCBI/strains.txt
genomes_database_naming.sh
/bin/globals.pm